// app global css in SCSS form
.q-page-container {
  background: url(assets/main-background.jpg) no-repeat right bottom;
  background-size: 100%;
}

.q-dialog {
  background: url(assets/main-background.jpg) no-repeat right bottom;
  background-size: 100%;
}

.q-dialog .q-card {
  width: 100%;
  max-width: 450px;
}

.book {
  background-color: white;
  opacity: 0.9;
}
